[*.cs]

# S3459: Unassigned members should be removed
dotnet_diagnostic.S3459.severity = none

# IDE0059: Unnecessary assignment of a value
csharp_style_unused_value_assignment_preference = discard_variable:none

# S1144: Unused private types or members should be removed
dotnet_diagnostic.S1144.severity = none

# S1481: Unused local variables should be removed
dotnet_diagnostic.S1481.severity = none

# CS8618: Non-nullable field is uninitialized. Consider declaring as nullable.
dotnet_diagnostic.CS8618.severity = none
